html 
{

    background-color: rgb(247, 9, 48);
}





#vystup
{
    font-size: 90px;
    font-style: bold;

    width: 50%;


    text-align: center;
    margin-left: 25%;
background-color: rgb(85, 4, 85);

border: 10px solid black

}

















